.oe_website_login_container {
    background: url('/style_custom/login_bg') no-repeat center center fixed !important;
    background-size: cover !important;
    color: #ffffff;
    padding: 0 !important;
    margin: 0 !important;
    height: 100vh !important;
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center;

}

body, html, #wrapwrap {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    min-height: 100vh !important;
}

.oe_login_form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    margin-top:0px;

}

.justify-content-between a,
.justify-content-between button.btn-link {
    color: #ffffff !important;
}

.btn.btn-link.btn-sm {
    color: white !important;
}

.o_footer {
    display: none !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden !important;
}

header#top.o_header_standard.o_top_fixed_element,
nav.o_header_mobile {
    display: none !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden !important;
}

/* Ẩn các phần tử không cần thiết */
#o_shared_blocks,
#o_search_modal_block {
    display: none !important;
}

#login::placeholder,
#password::placeholder {
    color: transparent; /* làm placeholder trong suốt */
}

a[href="/web/reset_password?"],
button[name="redirect"][value="/web/become"] {
    display: none !important;
}
