<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!-- Menu gốc: Quản lý công văn -->
        <menuitem
                id="office_document_menu_root"
                name="Quản lý công văn"
                sequence="0"
                web_icon="quan_ly_cong_van,static/description/icon.png"/>

        <!-- Menu Công văn đến -->
        <menuitem
                id="document_ingoing_menu"
                name="Công văn đến"
                parent="office_document_menu_root"
                action="action_open_office_document_ingoing"
                sequence="1"/>

        <!-- Menu Công văn đi -->
        <menuitem
                id="document_outgoing_menu"
                name="Công văn đi"
                parent="office_document_menu_root"
                sequence="5"/>

        <menuitem
                id="document_outgoing_menu_item"
                name="Công văn đi"
                parent="document_outgoing_menu"
                action="action_open_office_document_outgoing"
                sequence="1"/>

        <menuitem
                id="Office_task_menu_outgoing"
                name="Giao việc"
                parent="document_outgoing_menu"
                action="action_open_office_document_task"
                sequence="5"/>

        <!-- Menu Quyết định -->
        <menuitem
                id="document_resolution_menu"
                name="Quyết định"
                parent="office_document_menu_root"
                sequence="10"/>

        <menuitem
                id="document_resolution_menu_item"
                name="Quyết định"
                parent="document_resolution_menu"
                action="action_open_office_document_resolution"
                sequence="1"/>

        <menuitem
                id="Office_task_menu_resolution"
                name="Giao việc"
                parent="document_resolution_menu"
                action="action_open_office_resolution_task"
                sequence="5"/>

        <!-- Menu Văn bản HĐQT -->
        <menuitem
                id="document_director_menu"
                name="Văn bản HĐQT"
                parent="office_document_menu_root"
                sequence="15"/>

        <menuitem
                id="document_director_menu_item"
                name="Văn bản HĐQT"
                parent="document_director_menu"
                action="action_open_office_document_directors"
                sequence="1"/>

        <menuitem
                id="Office_task_menu_director"
                name="Giao việc"
                parent="document_director_menu"
                action="action_open_office_director_document_task"
                sequence="5"/>

        <!-- Menu văn bản nội bộ đến -->
        <menuitem
                id="document_internal_ingoing_menu"
                name="Công văn nội bộ đến"
                parent="office_document_menu_root"
                action="action_open_office_document_internal_ingoing"
                sequence="20"/>

        <!-- Menu văn bản nội bộ đi -->
        <menuitem
                id="document_internal_outgoing_menu"
                name="Công văn nội bộ đi"
                parent="office_document_menu_root"
                sequence="25"/>

        <menuitem
                id="document_internal_outgoing_menu_item"
                name="Công văn nội bộ đi"
                parent="document_internal_outgoing_menu"
                action="action_open_office_document_internal_outgoing"
                sequence="1"/>

        <menuitem
                id="Office_task_menu_iternal_document"
                name="Giao việc"
                parent="document_internal_outgoing_menu"
                action="action_open_office_internal_document_task"
                sequence="5"/>

        <!--Menu cấu hình-->
        <menuitem
                id="menu_office_document_setting"
                name="Cấu hình"
                parent="office_document_menu_root"
                sequence="50"
                groups="base.group_system,quan_ly_cong_van.group_van_thu"/>

        <menuitem
                id="menu_office_document_category"
                name="Phân loại văn bản"
                parent="menu_office_document_setting"
                action="action_office_document_category"
                sequence="1"/>
    </data>
</odoo>
