<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

      <menuitem id="menu_recruitment_plan_new"
              name="Kế hoạch tuyển dụng"
              parent="hr_recruitment.menu_hr_recruitment_root"
              sequence="3"
       />

      <menuitem id="menu_recruitment_survey"
              name="Yêu cầu đăng ký tuyển dụng"
              parent="menu_recruitment_plan_new"
              action="action_recruitment_survey"
              sequence="1"/>

      <menuitem id="menu_recruitment_needs"
              name="Đăng ký nhu cầu năm "
              parent="menu_recruitment_plan_new"
              action="action_recruitment_needs_year"
              sequence="2"/>

      <menuitem id="menu_recruitment_plan_year"
              name="Kế hoạch tuyển dụng"
              parent="menu_recruitment_plan_new"
              action="action_recruitment_plan_year"
              sequence="5"
              groups="quan_ly_tuyen_dung.group_recruitment_hr_officer"/>

      <menuitem id="menu_recruitment_plan_execute"
              name="Triển khai tuyển dụng"
              parent="hr_recruitment.menu_hr_recruitment_root"
              sequence="5"
      />

      <menuitem id="menu_recruitment_plan_execute_quarter_new"
              name="Thực hiện kế hoạch"
              parent="menu_recruitment_plan_execute"
              action="action_recruitment_plan_quarter"
              sequence="5"
      />

      <menuitem id="menu_recruitment_needs_real"
              name="Đăng ký nhu cầu thực tế "
              parent="menu_recruitment_plan_execute"
              action="action_recruitment_needs_actual"
              sequence="10"/>

    <menuitem id="hr_applicant_experience_request_menu"
              parent="hr_recruitment.menu_hr_recruitment_config_applications"
              action="action_experience_request"
              sequence="50" />

    <record id="hr_recruitment.menu_crm_case_categ0_act_job" model="ir.ui.menu">
        <field name="groups_id" eval="[(6, 0, [ref('quan_ly_tuyen_dung.group_recruitment_hr_officer')])]"/>

        <field name="parent_id" ref="menu_recruitment_plan_execute"/>

        <field name="sequence">20</field>
    </record>

    <record id="hr_recruitment.report_hr_recruitment" model="ir.ui.menu">
        <field name="groups_id" eval="[(6, 0, [ref('quan_ly_tuyen_dung.group_recruitment_hr_officer')])]"/>
    </record>

    <record id="hr_recruitment.menu_hr_recruitment_configuration" model="ir.ui.menu">
        <field name="groups_id" eval="[(6, 0, [ref('quan_ly_tuyen_dung.group_recruitment_hr_officer')])]"/>
    </record>

  </data>
</odoo>