<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!-- Menu root -->
        <menuitem
            id="training_tedi_root"
            name="Đào tạo"
            web_icon="hr_training_tedi,static/description/icon.png"
            sequence="0"
        />

        <menuitem id="menu_training_plan"
              name="Kế hoạch đào tạo"
              parent="hr_training_tedi.training_tedi_root"
              action="action_training_plan"
              sequence="10"  />


        <menuitem id="training_needs_tedi"
                  name="Khảo sát nhu cầu đào tạo"
                  parent="hr_training_tedi.training_tedi_root"
                  action="action_training_needs_survey"
                  sequence="20"/>

        <menuitem id="menu_trainings_needs"
              name="Nhu cầu đào tạo"
              parent="hr_training_tedi.training_tedi_root"
              action="action_trainings_needs"
              sequence="30"  />


        <menuitem id="menu_training_participation"
                  name="Lớp đào tạo"
                  parent="hr_training_tedi.training_tedi_root"
                  action="action_training_participation"
                  sequence="40"/>



        <menuitem id="menu_training_review_root"
                  name="Đánh giá"
                  parent="hr_training_tedi.training_tedi_root"
                  sequence="60"/>

        <menuitem id="menu_training_review_my"
                  name="Đánh giá khoá đào tạo"
                  parent="hr_training_tedi.menu_training_review_root"
                  action="action_training_review_my"
                  sequence="60"/>

        <menuitem id="menu_training_review_all"
                  name="Tất cả đánh giá"
                  parent="hr_training_tedi.menu_training_review_root"
                  action="action_training_review_all"
                  groups="hr_training_tedi.group_training_unit_manager,hr_training_tedi.group_training_general_director"
                  sequence="70"/>

        <menuitem id="menu_training_configuration"
                  name="Cấu hình"
                  parent="hr_training_tedi.training_tedi_root"
                  groups="hr_training_tedi.group_training_admin"
                  sequence="70"/>

        <menuitem id="menu_training_field"
                  name="Lĩnh vực đào tạo"
                  action="action_training_field"
                  parent="hr_training_tedi.menu_training_configuration"
                  sequence="10"/>

         <menuitem id="menu_training_course"
                  name="Khoá đào tạo"
                  parent="hr_training_tedi.menu_training_configuration"
                  action="action_training_course"
                  sequence="20"/>



    </data>
</odoo>
