<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!-- Menu root -->
        <menuitem
            id="training_tedi_root"
            name="Đào tạo"
            sequence="8"
            web_icon="hr_training_tedi,static/description/icon.png"
        />

        <menuitem id="menu_training_plan_lod"
                  name="Kế hoạch đào tạo"
                  parent="hr_training_tedi.training_tedi_root"
                  sequence="0"  />

        <menuitem id="training_needs_tedi"
                  name="Yêu cầu đăng ký đào tạo"
                  parent="menu_training_plan_lod"
                  action="action_training_needs_survey"
                  sequence="10"/>

        <menuitem id="menu_trainings_needs"
                  name="Đăng ký đào tạo"
                  parent="menu_training_plan_lod"
                  action="action_trainings_needs_year"
                  sequence="30"  />

        <menuitem id="menu_training_plan_year"
                  name="Kế hoạch đào tạo"
                  parent="menu_training_plan_lod"
                  action="action_training_plan_year"
                  groups="hr_training_tedi.group_training_manager"
                  sequence="30"  />

        <menuitem id="menu_training_plan_real"
                  name="Triển khai kế hoạch"
                  parent="hr_training_tedi.training_tedi_root"
                  groups="hr_training_tedi.group_training_manager"
                  action="action_training_plan_quarter"
                  sequence="20"  />

<!--        <menuitem id="menu_training_plan_quarter"-->
<!--                  name="Triển khai kế hoạch"-->
<!--                  parent="menu_training_plan_real"-->
<!--                  -->
<!--                  groups="hr_training_tedi.group_training_manager"-->
<!--                  sequence="10"  />-->




        <menuitem id="menu_training_participation_root"
                  name="Lớp đào tạo"
                  parent="hr_training_tedi.training_tedi_root"
                  sequence="40"/>

        <menuitem id="menu_training_participation"
                  name="Lớp đào tạo"
                  parent="hr_training_tedi.menu_training_participation_root"
                  action="action_training_participation"
                  sequence="10"/>

        <menuitem id="menu_trainings_needs_real"
                  name="Đăng ký lớp"
                  parent="menu_training_participation_root"
                  action="action_trainings_needs_actual"
                  sequence="30"  />



        <menuitem id="menu_training_review_root"
                  name="Đánh giá"
                  parent="hr_training_tedi.training_tedi_root"
                  sequence="60"/>

        <menuitem id="menu_training_review_my"
                  name="Đánh giá khoá đào tạo"
                  parent="hr_training_tedi.menu_training_review_root"
                  action="action_training_review_my"
                  sequence="60"/>

        <menuitem id="menu_training_review_all"
                  name="Tất cả đánh giá"
                  parent="hr_training_tedi.menu_training_review_root"
                  action="action_training_review_all"
                  groups="hr_training_tedi.group_training_manager"
                  sequence="70"/>

        <menuitem id="menu_training_configuration"
                  name="Cấu hình"
                  parent="hr_training_tedi.training_tedi_root"
                  groups="hr_training_tedi.group_training_admin"
                  sequence="70"/>

        <menuitem id="menu_training_field"
                  name="Lĩnh vực đào tạo"
                  action="action_training_field"
                  parent="hr_training_tedi.menu_training_configuration"
                  sequence="10"/>

         <menuitem id="menu_training_course"
                  name="Khoá đào tạo"
                  parent="hr_training_tedi.menu_training_configuration"
                  action="action_training_course"
                  sequence="20"/>



    </data>
</odoo>
