.soft-green-row {
    background-color: #d4edda !important;   /* xanh lá pastel */
    color: black !important;              /* chữ xanh đậm */
}

.soft-yellow-row {
    background-color: #fff3cd !important;   /* vàng pastel */
    color: black !important;              /* chữ vàng đậm */
}

.soft-red-row {
    background-color: #F08080 !important;
    color: black !important;
}