<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <record id="fleet.fleet_vehicle_log_services_action" model="ir.actions.act_window">
            <field name="name">Phiếu sửa chữa</field>
        </record>

        <record id="fleet.menu_root" model="ir.ui.menu">
            <field name="sequence">1</field>
            <field name="groups_id" eval="[(4, ref('base.group_user'))]"/>
        </record>

        <menuitem id="menu_hr_tedi_vehicle_registration"
                  name="Lịch xe"
                  parent="fleet.menu_root"
                  action="action_hr_tedi_vehicle_registration2"
                  sequence="10"
                  groups="base.group_user"/>

        <menuitem id="menu_business_trip_registration"
                  name="Lịch công tác"
                  parent="fleet.menu_root"
                  action="action_business_trip_registration"
                  sequence="11"
                  groups="base.group_user"/>

        <menuitem id="menu_fleet_vehicle_repair_custom"
                  name="Sửa chữa xe"
                  parent="fleet.menu_root"
                  action="fleet.fleet_vehicle_log_services_action"
                  sequence="12"
                  groups="base.group_user"/>

        <menuitem id="menu_fleet_vehicle_odometer_monthly_report"
                  name="Báo cáo Km tháng"
                  parent="fleet.menu_fleet_reporting"
                  action="action_fleet_vehicle_odometer_monthly_report"
                  sequence="15"
                  groups="base.group_user"/>

                <!--Menu chi phí phát sinh-->
        <menuitem
                id="menu_extra_cost"
                name="Chi phí phát sinh"
                parent="fleet.menu_root"
                action="action_hr_expense_airlines"
                sequence="20"/>

        <menuitem name="Cấu hình xe"
                  parent="fleet.fleet_configuration"
                  id="fleet_models_configuration_custom"
                  sequence="10"
                  groups="fleet.fleet_group_manager"/>

        <menuitem action="fleet.fleet_vehicle_action"
                  name="Danh mục xe"
                  parent="fleet_models_configuration_custom"
                  id="tedi_fleet_vehicle_menu2"
                  groups="fleet.fleet_group_user"
                  sequence="1"/>

        <menuitem action="fleet.fleet_vehicle_model_brand_action"
                  name="Hãng xe"
                  parent="fleet_models_configuration_custom"
                  id="tedi_fleet_vehicle_model_brand_menu"
                  sequence="1"/>

        <menuitem action="fleet.fleet_vehicle_model_action"
                  parent="fleet_models_configuration_custom"
                  name="Mẫu xe"
                  id="fleet_vehicle_model_menu_custom"
                  sequence="5"/>

        <menuitem action="fleet.fleet_vehicle_model_category_action"
                  name="Nhóm"
                  parent="fleet_models_configuration_custom"
                  id="fleet_vehicle_model_category_menu_custom"
                  sequence="10"/>
<!--        <menuitem action="fleet_vehicle_action" parent="fleet_vehicles" name="Fleet"-->
<!--                  id="fleet_vehicle_menu" groups="fleet_group_user" sequence="0"/>-->

        <record id="fleet.fleet_vehicle_odometer_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>

        <record id="fleet.fleet_vehicle_model_brand_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>

        <record id="fleet.fleet_services_configuration" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>



        <record id="fleet.fleet_vehicle_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>


        <record id="fleet.fleet_vehicle_log_services_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>

        <record id="fleet.fleet_vehicle_log_contract_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>

        <record id="fleet.fleet_config_settings_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>

        <record id="fleet.fleet_models_configuration" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>

        <record id="fleet.fleet_vehicle_model_brand_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>

        <record id="fleet.fleet_vehicle_model_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>

        <record id="fleet.fleet_vehicle_model_category_menu" model="ir.ui.menu">
            <field name="active" eval="False"/>
        </record>
    </data>
</odoo>