<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!--Menu quản lý đội xe-->
        <menuitem id="fleet_management_menu_root"
                  name="Quản lý đội xe"
                  sequence="0"/>

        <menuitem id="menu_hr_tedi_vehicle_record"
                  name="Màn hình tất cả lý lịch xe"
                  parent="fleet_management_menu_root"
                  action="action_hr_tedi_vehicle_record"
                  sequence="10"/>
        <menuitem id="menu_hr_tedi_vehicle_registration"
                  name="Phiếu đăng ký xe"
                  parent="fleet_management_menu_root"
                  action="action_hr_tedi_vehicle_registration"
                  sequence="20"/>
        <menuitem id="menu_hr_tedi_vehicle_repair"
                  name="Phiếu sửa chữa xe"
                  parent="fleet_management_menu_root"
                  action="action_hr_tedi_vehicle_repair"
                  sequence="30"/>
        <menuitem id="menu_hr_tedi_vehicle_odometer_report"
                  name="Báo cáo số km từng xe"
                  parent="fleet_management_menu_root"
                  action="action_hr_tedi_vehicle_odometer_report"
                  sequence="50"/>

    </data>
</odoo>
